<%- include("header") -%>

<h1>This is an about page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum asperiores explicabo ullam doloribus sed possimus voluptates ratione ut culpa quos nemo veritatis aliquam, quo, officia natus numquam exercitationem qui beatae. Autem nisi eligendi voluptatibus excepturi ipsam non facere, eaque modi nam aperiam maiores amet enim tempora quibusdam minima nostrum tempore!
</p>

<%- include("footer") -%>